[commit]
  gpgSign = true
[tag]
  gpgSign = true

[alias]
    lg1 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
    lg = !"git lg1"
    st = status
    cal = !"git-cal"
	root = rev-parse --show-toplevel
[pull]
  rebase = true
[diff]
  tool = araxis
[difftool]
  prompt = false

[core]
  pager = diff-so-fancy | less --tabs=4 -RFX
[init]
  defaultBranch = main
[interactive]
  diffFilter = diff-so-fancy --patch
[color]
  ui = true
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22
[color "diff"]
  meta = 11
  frag = magenta bold
  func = 146 bold
  commit = yellow bold
  old = red bold
  new = green bold
  whitespace = red reverse
[url "git@gist.github.com:"]
  insteadOf = https://gist.github.com/
[url "git@github.com:"]
  insteadOf = https://github.com/
; [credential "https://github.com"]
;   helper = !gh auth git-credential
[merge]
  tool = araxis
[safe]
	directory = *
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
